/* used some AI assistance for the CSS :) */

@import "bootstrap-icons/font/bootstrap-icons.css";
html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #333;
  min-height: 50px;
  position: sticky;
  top: 0;
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  padding: 1rem;
  width: 100%;
}

footer {
  background-color: #242424;
  color: white;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  flex-shrink: 0;
}

.nav-link {
  color: #ffffff !important;
}

/* .nav-link:hover {
  color: #f39c12 !important;
} */

.nav-link.active {
  color: #b90606 !important;
}
